.messangerBlock {
  display: grid;
  grid-template-areas: "d m";
  grid-template-columns: 2fr 10fr;
  background-color: #65baff;
  width: 100%;
  border-radius: 15px;
}

/* dialogs */
.item{
  display: flex;
  flex-direction: column;
  padding: 2px 15px;
  width: 25%;
}


.dialogItems{
  display: flex;
  align-items: center;
  text-align: center;
  width: 25%;
  flex-direction: row;
  margin-top: 10px;

  .logoDialog{
    width: 35px;
    height: 35px;
  }

  .dialogName{
    margin-left: 10px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  
  }

  .dialogName:hover{
    color: #ffffff;
  }

}





/* messages */

.messages {
  padding: 10px;
}


.active{
  color:gold;
}
  

